<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
    <customErrors mode="Off"/>
		<httpHandlers>
			<add verb="*" path="*.asp" validate="false" type="Dlrsoft.Asp.AspHandler, Dlrsoft.Asp"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true" />
		<handlers>
      <remove name="ASPClassic"/>
      <add name="ASPClassic" verb="*" path="*.asp" type="Dlrsoft.Asp.AspHandler, Dlrsoft.Asp"/>
    </handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>
